<div class="all"> 
    <header>
        <div class="container">
                <!-- el conteiner es para que el texto o la imagen se modfique para cuando se modifique el tamaño de la ventana en la pagina -->   
                <section id="top">
                    <p class="logo">Aprendiendo a Programar!</p>
                    <nav>
                            <a href="#sobremi">Quien soy</a>
                            <a href="#sobremi">Contactos</a>
                    </nav>    
                </section>          
        </div>
   </header>
   <section id="hero"> 
        <h1>. </h1>
        <!-- el br es para hacer un salto de linea dentro del mismo h1 -->
        <form action="https://github.com/DemianQ">
            <button style="color: rgb(242, 255, 155);">GITHUB</button>
        </form>
        <!-- el form es para que el boton nos lleve a otro lado -->
    </section>

   <section>
        <div class="container">
            <div class="img.container"></div>
        </div>
   </section>

   <section id="sobremi">
        <div class="container">
            <h2>Me presento de nuevo mi nombre es Demian Quiroga, aquí dejo mi CV</h2>
            <h2>Este soy yo</h2>
            <div class="carta">
                <h3>Prueba</h3>
                <p>parrafo</p>
                <form action="curriculum-vitae1.jpg"> 
                    <button style="color: rgb(242, 255, 155);">Curriculum-vitae</button>
                </form>
            </div>
            <div class="carta">
            <h3>Proyectos</h3>
                <form action="#">
                    <p>Aquí se pondra información de los futuros proyectos</p> <br> <button style="color: rgb(242,255,155);">PROYECTOS</button>

                </form>
            </div>
        </div>   
   </section>
    <div class="caja">
        <div class="contenedor">
            <h2>skills</h2>
            <div class="skills">
                <div class="detalles">
                    <span>HTML</span>
                    <span>60%</span>
                </div>
                <div class="menu">
                    <div id="html-menu">
                    </div>
                </div>
            </div>

            <div class="skills">
                <div class="detalles">
                    <span>CSS</span>
                    <span>30%</span>
                </div>
                <div class="menu">
                    <div id="CSS-menu">
                    </div>
                </div>
            </div>

                <div class="skills">
                    <div class="detalles">
                        <span>JAVASCRIPT</span>
                        <span>10%</span>
                    </div>
                    <div class="menu">
                        <div id="JS-menu">
                        </div>
                    </div>    
                </div>
        </div>
    </div>
    <div id="correo">
        <h2>Envie un mensaje a mi correo</h2>
        <form action="https://formsubmit.co/demianquiroga@hotmail.com" method="POST">
            <label for="Nombre">Nombre</label>
            <br>
            <input type="text" name="name">
            <br>
            <label for="email">Correo Electronico</label>
            <br>
            <input type="email" name="email">
            <br>
            <label for="texto">Texto</label>
            <br>
            <input type="texto" name="texto">
            <br>
            <input type="submit" value="Enviar" id="boton_envio">
        </form>

        <input type="hidden" name="_next" value="#">
        <!-- para que te redireccione de nuevo a la pagina no te olvides de poner el link -->
    </div>
<!-- no te olvides que el botón enviar no sirve sino esta cargada a la web  -->
<!-- para agregar o quitar contenido de las barra -->
    <footer>
        <div class="container">
            <p>&copy;copyrigth demian 2023</p>
            <!-- &copy; es el simbolo de copyrigth -->
        </div>
    </footer>
</div>

